@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-image: url('./assets/subtle-prism.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
}

header {
    background-color: rgba(211, 211, 211, 0.2);
}

footer{
    background-color: rgba(211, 211, 211, 0.2);
}

h1, h3{
    text-align: center;
}

#kep{
    width: 200px;
    margin: 0;
}

.container{
    padding-top: 50px;
    text-align: center;
    background-color: #354656;
    color: #fff;
}

#jatekaink{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 10px;
    font-size: 50px;
    padding-bottom: 50px;
}

#focim{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 20px;
    font-size: 100px;
    padding-bottom: 25px;
}

img{
    width: 200px;
    height: 140px;
    border-radius: 5px;
    border: 5px;
    border-style: solid;
    border-color: #000;
}

#alsoresz{
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 50px;
    color: coral;
}

#szovegsor{
    width: 50%;
    margin-left: 24.5%;
    text-wrap: balance;
}

.price-list {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.price-item {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-item:last-child {
    border-bottom: none;
}

.price-title {
    font-size: 1.2em;
    font-weight: bold;
}

.price-value {
    font-size: 1.1em;
    color: #27ae60;
}